<div class="card bg-light text-dark mt-3">
    <div class="row">
        <div class="col-md-2 card-body">
            <h5>From:</h5>
            <h6>{{bookFlight.from}}</h6>
        </div>

        <div class="col-md-2 card-body">
            <h5>To:</h5>
            <h6>{{bookFlight.to}}</h6>
        </div>

        <div class="col-md-2 card-body">
            <h5>Flight:</h5>
            <h6>{{bookFlight.flight}}</h6>
        </div>

        <div class="col-md-2 card-body">
            <h5>Start Time:</h5>
            <h6>{{bookFlight.startTime}}</h6>
        </div>

        <div class="col-md-2 card-body">
            <h5>Duration:</h5>
            <h6>{{bookFlight.duration}}</h6>
        </div>

        <div class="col-md-2 card-body">
            <h5>Reach Time:</h5>
            <h6>{{bookFlight.reachTime}}</h6>
        </div>
    </div>
</div>