<div class="mt-4">
    <h4 class="fontStyle">My Cancelled Trips:</h4>
</div>
<div class="col-md-10">
    <div class="card mt-3" *ngFor="let myCancelledTrip of myCancelledTrips">
        <div class="row">
            <div class="col-md-3">
                <h5>Status:</h5>
                <p>{{myCancelledTrip.status}}</p>
            </div>
            <div class="col-md-3">
                <h5>From:</h5>
                <p>{{myCancelledTrip.from}}</p>
            </div>
            <div class="col-md-3">
                <h5>To:</h5>
                <p>{{myCancelledTrip.to}}</p>
            </div>
            <div class="col-md-3">
                <h5>Flight:</h5>
                <p>{{myCancelledTrip.flight}}</p>
            </div>
        </div>
    </div>
</div>