<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="" style="color: red
                ;">SKY-TRIP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="searchFlight" routerLinkActive="active">Search Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="myTrip" routerLinkActive="active">My Trip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="holidayP" routerLinkActive="active">Holiday Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="addFlight" routerLinkActive="active">Add Flight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="hotels" routerLinkActive="active">Search Hotel</a>
            </li>
        </ul>
    </div>
</nav>